﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CodeManch - Explore the BASICS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header s-header--blog">

        <div class="header-logo">
            <a href="/" style="color:white">
                CODEMANCH
            </a>
        </div>


        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- page header
    ================================================== -->
    <section class="page-header">

        <div class="row page-header__content narrower text-center">
            <div class="col-full">
                <h1 class="display-1">
                    Zoro
                </h1>
                <h3 class="display-2" style="color:white">
                    The journey of a web project
                </h3>
                <div class="page-header__search">
                    <form role="search" method="get" class="page-header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="page-header__overlay-close">Close</a>
                </div>  <!-- end page-header__search -->

            </div>
        </div>

    </section> <!-- end page-header -->
    <!-- blog content wrap
    ================================================== -->
    <section class="blog-content-wrap">

        <div class="row entries-wrap add-top-padding">
            <div class="entries">

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/lamp-400.jpg"
                                     srcset="/assets/images/thumbs/post/lamp-400.jpg 1x, /assets/images/thumbs/post/lamp-800.jpg 2x" alt="">
                            </a>
                        </div>
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Zoro</a>
                            </div>
                            <h1 class="item-entry__title"><a href="/chapter">01 - Introduction to Project Zoro </a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Let's first understand what is this project, what are we going to do & the need behind it.
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/lamp-400.jpg"
                                     srcset="/assets/images/thumbs/post/lamp-400.jpg 1x, /assets/images/thumbs/post/lamp-800.jpg 2x" alt="">
                            </a>
                        </div>
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project Zoro</a>
                            </div>
                            <h1 class="item-entry__title"><a href="/zoro/02">02 - The birth of the web application </a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Let's create the basic application which will become the foundation on which further developements would be done...
                                </p>
                                <a class="more-link" href="/zoro/02">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/blue-400.jpg"
                                     srcset="/assets/images/thumbs/post/blue-400.jpg 1x, /assets/images/thumbs/post/blue-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project Zoro</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/zoro/03">03 - Deploy the application to Azure Cloud</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    The basic application is created, now let's see how to deploy it to Microsoft Azure Cloud
                                </p>
                                <a class="more-link" href="/zoro/03">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/desk-400.jpg"
                                     srcset="/assets/images/thumbs/post/desk-400.jpg 1x, /assets/images/thumbs/post/desk-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>
                            <h1 class="item-entry__title"><a href="/chapter">04 - Understand Production & Staging slots on Azure</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    While deploying to Azure cloud, it is very important to understand what are staging & production slots, and the benefits behind it.
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/watch-400.jpg"
                                     srcset="/assets/images/thumbs/post/watch-400.jpg 1x, /assets/images/thumbs/post/watch-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>
                            <h1 class="item-entry__title"><a href="/chapter">05 - Learn the fundamentals of GIT, the most used Code Repository</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Understand the GIT concepts & how to work with this repository. It is very important to explore & get used to it as almost all software companies are adopting it...
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/wheel-400.jpg"
                                     srcset="/assets/images/thumbs/post/wheel-400.jpg 1x, /assets/images/thumbs/post/wheel-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>
                            <h1 class="item-entry__title"><a href="/chapter">06 - The fundamentals of CI/CD</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    DevOps has taken the IT market by storm. CI/CD is one of the many building block of it. Let's understand what the heck is this.
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/jsmith-400.jpg"
                                     srcset="/assets/images/thumbs/post/jsmith-400.jpg 1x, /assets/images/thumbs/post/jsmith-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>
                            <h1 class="item-entry__title"><a href="/chapter">07 - Implement CI/CD</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Let us put CI/CD in our web project.
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/mac-400.jpg"
                                     srcset="/assets/images/thumbs/post/mac-400.jpg 1x, /assets/images/thumbs/post/mac-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/chapter">08 - How to identify the problems in your code in automated way</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    SonarQube - The tool through which code review/analysis can be done with flexibility & automated approach. Let us put it in our web project.
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/working-400.jpg"
                                     srcset="/assets/images/thumbs/post/working-400.jpg 1x, /assets/images/thumbs/post/working-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/chapter">09 - Implement Unit Testing</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Learn how to use & implement the unit testing tool in the web project.
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/woodcraft-400.jpg"
                                     srcset="/assets/images/thumbs/post/woodcraft-400.jpg 1x, /assets/images/thumbs/post/woodcraft-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/chapter">10 - Automated Selenium testing through CI/CD</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Explore the basics of implementing Selenium in CI/CD...
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/fuji-400.jpg"
                                     srcset="/assets/images/thumbs/post/fuji-400.jpg 1x, /assets/images/thumbs/post/fuji-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/chapter">11 - How would you track/monitor the users on your application</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    You have created an application & successfully hosted it on cloud. You even have marketed it well on internet using digital marketing but how would you track how many users are landing & what actions they are performing on your site...
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/workplace-400.jpg"
                                     srcset="/assets/images/thumbs/post/workplace-400.jpg 1x, /assets/images/thumbs/post/workplace-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/chapter">12 - CDN Basics & Implementation</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Learn the concepts of a CDN and use it to boost the performance of your website...
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/chapter" class="item-entry__thumb-link">
                                <img src="/assets/images/thumbs/post/work-remote-400.jpg"
                                     srcset="/assets/images/thumbs/post/work-remote-400.jpg 1x, /assets/images/thumbs/post/work-remote-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Project 02R</a>
                            </div>

                            <h1 class="item-entry__title"><a href="/chapter">13 - What the heck is Docker?</a></h1>

                            <div class="item-entry__content">
                                <p>
                                    Docker concept has taken the IT world by storm, but there is still lot of confusions going on reagrding it's understanding. Read on to find out the fundamentals behind it...
                                </p>
                                <a class="more-link" href="/chapter">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->



    </section> <!-- end blog content wrap -->
    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Knowledge is Ocean
                </h1>
                <p class="lead">
                    Don't just stand on the beach. Take a Dive & Explore!
                </p>
            </div>

        </div> <!-- end footer__top -->

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="/home/index">
                        CODEMANCH
                    </a>
                </div>

                <p>
                    Just a small initiative to share the knowledge with all of you. As they say, the more you share the more you learn!
                </p>
            </div>
        </div> <!-- end footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->
    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
