﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Life of a Code</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/home/index" style="color:white">The life of a code</a>
        </div>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(/assets/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        What exactly is the life of a Code?
                    </h1>
                </div>
            </div>

        </div> <!-- end page-header -->
        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">

            <div class="row blog-content">
                <div class="col-full blog-content__main">

                    <blockquote>
                        <p class="lead drop-cap">
                            A human life is a series of footnotes to a vast obscure unfinished masterpiece.
                            It is a continous cycle of improvements, enhancements, mistakes & corrections.
                            <b> And so is the life of a code!</b>
                        </p>
                    </blockquote>

                    <p>
                        Well, if you have landed on this page & reading it with curiosity it is very safe to assume that you are from IT programming domain working
                        with some company on a sofware project.
                        (<i>If you are not from IT software domain, then also you can read on. What's there to lose </i>🙂).
                        You might be from any programming field like Asp.net, ReactJS, NodeJS etc but you all have one thing in common.
                        Programming. And through programming you must be creating different kind of web applications for different purposes currently.
                        This web site is just a little attempt to help the guys who code. To guide them in developing & nurturing a web application.
                        To explain them, practically, the various steps involved in creating a web site from ZERO (read localPC) level to PRODUCTION level. <br /><br />
                        <i>Wait! Aren't many tutorials on internet already doing it?</i> <br /><br />
                        Yes. You guessed it right.
                        There are indeed many tutorials/blogs out there which would tell you how to code in Asp.net or ReactJS or NodeJS etc or
                        how to use a specific feature of that language in your programming.<br /><br />
                        <i>Then what is different about this? Why another same type of website?</i> Confusions! Questions!<br /><br />

                        OK. Let's get to the point now.

                        Our purpose is NOT to tell you how to code in asp.net or jquery or in some other language. Coding you already know or can take help
                        from many tutorials floating on internet.
                        We are going to share with you exactly what we say.
                        <b>The life of a Code!</b><br />
                        To understand it we must first understand what are the steps through which a code(i.e. project/website/webapplication etc) goes through during it's life cycle & what exactly is the life cycle of a code.
                        If I have to summarize it in bullet points, it would go like this -
                        <ul>
                            <li>Start creating your piece of code i.e web application</li>
                            <li>Commit in some repository like bitbucket/github etc so that the work is not lost</li>
                            <li>Implement some tracking mechanims, like Mixpanel/GA etc, to understand the user behaviour</li>
                            <li>Deploy on some cloud like Azure, AWS etc</li>
                            <li>Buy some custom domain for the website</li>
                            <li>Map the custom domain with your hosted application</li>
                            <li>Implement CDN for faster performance</li>
                            <li>Implement special tags for whatsapp/facebook previews</li>
                            <li>Code refactoring to check if any design pattern could solve the code maintanence nightmare</li>
                            <li>Introduce CI/CD for better stability</li>
                            <li>Implement some APM mechanism tools like New Relic, Stackify etc for better monitoring of results</li>
                            <li>
                                Create an email for your purchased domain for e.g if your site name is letswork.com & you want
                                to create an email address for the customer support like customer@letswork.com
                            </li>
                        </ul>
                    </p>



                    <p>
                        Above bullet points denotes a typical life cycle of a project, not in any fixed order though. Every code goes through this cycle
                        & keeps on repeating these steps continously as per the need. When I started to create a website of my own, I got stuck in making it
                        available for end users i.e. making it live because I knew how to code but didn't have a clue regarding other steps.
                        Infact it was a sudden realisation for me that the real work starts once the initial website development is done. And that's when
                        I started to gather the required knowledge through different tutorials on internet and through my friends/company friends.
                        In this process I realized that there is not a single place out there which provides you some handson guidance for different phases
                        through which a live project passes through. Here on this portal we will create a Asp.Net CORE project, step by step, explaining the different fundamentals
                        involved. This is a just a small attempt from our side to share the knowledge with you & gaining some in the process.
                    </p>
                </div><!-- end blog-content__main -->
            </div> <!-- end blog-content -->


        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->
    <!-- blog nav
    ================================================== -->
    <div class="blog-single-nav-wrap">
        <div class="row blog-single-nav">
            <div class="col-six blog-single-nav__prev">
                <a href="#0" rel="prev">
                    <span>Prev</span>
                    The Pomodoro Technique Really Works.
                </a>
            </div>
            <div class="col-six blog-single-nav__next">
                <a href="#0" rel="next">
                    <span>Next</span>
                    How Imagery Drives User Experience.
                </a>
            </div>
        </div>
    </div> <!-- end blog-single-nav-wrap-->
    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Knowledge is Ocean
                </h1>
                <p class="lead">
                    Don't just stand on the beach. Take a Dive & Explore!
                </p>
            </div>

        </div> <!-- end footer__top -->

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="/home/index">
                        The Life Of a Code
                    </a>
                </div>

                <p>
                    Just a small initiative to share the knowledge with all of you. As they say, the more you share the more you learn! So in a way,
                    we are trying to learn as well in this process 🙂.
                </p>

            </div>
        </div> <!-- end footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->
    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>