﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CodeManch - Explore the BASICS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/vendor.css">
    <link rel="stylesheet" href="~/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/assets/js/modernizr.js"></script>
    <script src="~/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/home/index" style="color:white">
                CODEMANCH
            </a>
        </div>



        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section">

        <div class="home-image-part"></div>

        <div class="home-content">

            <div class="row home-content__main wide">

                <h1>
                    Explore the BASICS!
                </h1>

                <h3>
                    Click below button to get started.
                </h3>

                <div class="home-content__button">
                    <!-- <a class="btn-video" href="#" data-lity>
                        <span class="video-icon"></span>
                    </a>-->
                    <a href="#download" class="smoothscroll btn btn--primary btn--large">
                        Let's Start
                    </a>
                </div>

            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->
    <!-- about



    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Knowledge is Ocean
                </h1>
                <p class="lead">
                    Don't just stand on the beach. Take a Dive & Explore!
                </p>
            </div>

        </div>

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="/home/index">
                        CODEMANCH
                    </a>
                </div>

                <p>
                    Just a small initiative to share the knowledge with all of you. As they say, the more you share the more you learn!
                </p>
            </div>
        </div>

    </footer> <!-- end s-footer -->
    <!-- Java Script
    ================================================== -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
