﻿<!DOCTYPE HTML>
<html>
<head>
    <title>The Zoro Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/journey-assets/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/journey-assets/assets/css/noscript.css" /></noscript>
    <meta property="og:title" content="The Zoro Project" />
    <meta property="og:description" content="Let us learn together" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image" content="http://www.thezoroproject.com/assets/images/1.jpg" />
    <meta property="og:url" content="http://www.thezoroproject.com" />
    <!-- start Mixpanel -->
    <script type="text/javascript">
    (function (c, a) {
            if (!a.__SV) {
                var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                    function c(b, i) {
                        var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
                }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("5a08c69d458899850fe227237db8f181");</script><!-- end Mixpanel -->
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="divided">

        <!-- One -->
        <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
                <h1>Project Zoro</h1>
                <p class="major">
                    Learn the fundamentals of DevOps along with hands on examples!
                </p>
                <ul class="actions stacked">
                    <li><a href="#first" class="button big wide smooth-scroll-middle">Get Started</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/1.jpg" alt="" />
            </div>
        </section>

        <!-- Two -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
                <h2>What exactly is Devops and why almost every software company is adopting it?</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            Basic concepts of Devops.
                        </li>
                        <li>
                            The need behind Devops.
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="/what-exactly-is-devops-and-why-almost every-software-company-is-adopting-it" class="button">Continue</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/lamp-800.jpg" alt="" />
            </div>
        </section>

        <!-- Three -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Create simple Asp.net Core Web Application i.e. Project Zoro</h2>
                <p>Let us create an asp.net core web application which we will use to implement various fundamentals in this journey.</p>
                <ul class="actions stacked">
                    <li><a href="/create-a-simple-aspnetcore-application" class="button">Continue</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/desk-800.jpg" alt="" />
            </div>
        </section>

        <!-- Four -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Deploy Zoro on Microsoft Azure Cloud</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            Basic Azure Concepts.
                        </li>
                        <li>
                            How to deploy Project Zoro on Azure.
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="/how-to-deploy-aspnetcore-application-on-microsoft-azure" class="button">Continue</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/blue-800.jpg" alt="" />
            </div>
        </section>

        <!-- Five -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Save Zoro project on Git Code Repository</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            What are code repositories and the need behind it.
                        </li>
                        <li>
                            Basic concepts of Git repository.
                        </li>
                        <li>
                            How to save our Zoro project on Git and Bitbucket.
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="/how-to-use-git-as-your-code-repository" class="button">Continue</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/watch-800.jpg" alt="" />
            </div>
        </section>

        <!-- Six -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Staging and Production Slots on Azure</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            What are Staging/Production slots on Azure and the need behind it.
                        </li>
                        <li>
                            How to implement these slots for our Zoro project.
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:blue!important">Work in Progress</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/desk-800.jpg" alt="" />
            </div>
        </section>

        <!-- Seven -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>The basics of DevOps and CI/CD</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            What exactly is DevOps, CI/CD and why almost every company is adopting it?
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:blue!important">Work in Progress</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/wheel-800.jpg" alt="" />
            </div>
        </section>

        <!-- Eight -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Implement CI/CD in Zoro project </h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            How to implement Continous Integration(CI) in our Zoro project
                            <ul style="list-style-type:circle">
                                <li>
                                    Tool used for this purpose - Jenkins.
                                </li>
                            </ul>
                        </li>
                        <li>
                            How to implement Continous Deployment(CD) in our Zoro project
                            <ul style="list-style-type:circle">
                                <li>
                                    Tool used for this purpose - Jenkins.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/jsmith-800.jpg" alt="" />
            </div>
        </section>

        <!-- Nine -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>The Unit Testing</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            Why unit testing is a fruitful thing for a project.
                        </li>
                        <li>
                            Implement unit testing in our Zoro project.
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/working-800.jpg" alt="" />
            </div>
        </section>

        <!-- Ten -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>How to do Code Analysis in an automated way</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            Why automated code analysis/code reviews is beneficial for the project.
                        </li>
                        <li>
                            Implement automatic Code Analysis in Zoro project.
                            <ul style="list-style-type:circle">
                                <li>
                                    Tool used for this purpose - SonarQube
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/mac-800.jpg" alt="" />
            </div>
        </section>

        <!-- Eleven -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Automatically run QA steps while committing in Zoro Repository</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            The need behind automated QA steps.
                        </li>
                        <li>
                            Implement Automatic QA of Zoro project as soon as the code is committed in Zoro Repository.
                            <ul style="list-style-type:circle">
                                <li>
                                    Tool used for this purpose - Selenium
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/woodcraft-800.jpg" alt="" />
            </div>
        </section>

        <!-- Twelve -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Track live users activities on Zoro project </h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            How to track what activities users are doing on Zoro project on production.
                            <ul style="list-style-type:circle">
                                <li>
                                    Tool used for this purpose - Mixpanel
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/fuji-800.jpg" alt="" />
            </div>
        </section>

        <!-- Thirteen -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Implement CDN on Zoro Project</h2>
                <p>
                    What we will learn -
                    <ul>
                        <li>
                            What is CDN and why is it needed to boost the website performance to great extent.
                        </li>
                        <li>
                            How to implement CDN on Zoro project.
                        </li>
                    </ul>
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/workplace-800.jpg" alt="" />
            </div>
        </section>

        <!-- Fourteen -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>What the heck is Docker and why should I use it?</h2>
                <p>
                    Let us dive into Docker world and come out with Elan!
                </p>
                <ul class="actions stacked">
                    <li><a href="#" class="button" style="color:darksalmon!important;font-weight:600">Coming Soon</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="~/assets/images/thumbs/post/work-remote-800.jpg" alt="" />
            </div>
        </section>


        <!-- Footer -->
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <p><a href="/">The Zoro Project</a></p>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="/journey-assets/assets/js/jquery.min.js"></script>
    <script src="/journey-assets/assets/js/jquery.scrollex.min.js"></script>
    <script src="/journey-assets/assets/js/jquery.scrolly.min.js"></script>
    <script src="/journey-assets/assets/js/browser.min.js"></script>
    <script src="/journey-assets/assets/js/breakpoints.min.js"></script>
    <script src="/journey-assets/assets/js/util.js"></script>
    <script src="/journey-assets/assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var userID = readCookie("userID");
            mixpanel.identify(userID);
            mixpanel.people.set({
                "$ID": userID
            });
            mixpanel.track("main page loaded");
        });
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    </script>
</body>
</html>