﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Style Guide - Standout</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <style type="text/css" media="screen">
        .s-styles { 
            background-color: #ffffff;
            padding-top: 18rem;
            padding-bottom: 14.8rem;
        }
    </style>

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header 
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="/assets/images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#home" title="intro">Intro</a></li>
                <li><a href="index.html#about" title="about">About</a></li>
                <li><a href="index.html#features" title="features">Features</a></li>
                <li><a href="index.html#pricing" title="pricing">Pricing</a></li>
                <li><a href="blog.html" title="blog">Blog</a></li>	
            </ul>

            <ul class="header-social">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    
    </header> <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section">

        <div class="home-image-part"></div>

        <div class="home-content">

            <div class="row home-content__main wide">

                <h1>
                An Amazing App <br>
                That Does It All.
                </h1>

                <h3>
                Voluptatem ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia. 
                </h3>

                <div class="home-content__button">
                    <a class="btn-video" href="https://player.vimeo.com/video/14592941?color=00a650&title=0&byline=0&portrait=0" data-lity>
                        <span class="video-icon"></span>
                    </a>
                    <a href="#0" class="btn btn--primary btn--large">
                        Get The App
                    </a>
                </div>

            </div> <!-- end home-content__main -->

            <a href="#styles" class="home-scroll smoothscroll">
                <span class="home-scroll__text">Scroll Down</span>
                <span class="home-scroll__icon"></span>
            </a>

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->


    <!-- styles
    ================================================== -->
    <section id="styles" class="s-styles">
        
        <div class="row narrow section-intro add-bottom text-center">

            <div class="col-twelve tab-full">

                <h1 class="display-1">Style Guide.</h1>

                <p class="lead">Lorem ipsum Officia elit ad tempor dolore est ex incididunt incididunt occaecat culpa deserunt sunt labore in cillum ullamco magna in Excepteur consequat in reprehenderit proident mollit incididunt officia commodo.
                Duis ea officia sed dolor pariatur enim dolore dolore quis incididunt nulla exercitation commodo veniam et ea incididunt.</p>

            </div>

        </div>

        <div class="row">

            <div class="col-six tab-full">

                <h3>Paragraph and Image</h3>

                <p><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="/assets/images/sample-image.jpg"></a>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque posuere nunc justo tempus leo. </p>

                <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentumodio, ac blandit ante orci ut diam.	
                </p>

                <p>A <a href="#">link</a>,
                <abbr title="this really isn't a very good description">abbrebation</abbr>,
                <strong>strong text</strong>,
                <em>em text</em>,
                <del>deleted text</del>, and
                <mark>this is a mark text.</mark>
                <code>.code</code>
                </p>

            </div>

            <div class="col-six tab-full">

                <h3>Drop Caps</h3>

                <p class="drop-cap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu	posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque.
                </p>

                <h3>Small Print</h3>

                <p>Buy one widget, get one free!
                <small>(While supplies last. Offer expires on the vernal equinox. Not valid in Ohio.)</small>
                </p>

            </div>

        </div> <!-- end row -->

        <div class="row">

            <div class="col-six tab-full">

                <h3>Pull Quotes</h3>

                <aside class="pull-quote">
                    <blockquote>
                    <p>It is a paradisematic country, in which roasted parts of
                    sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind
                    texts it is an almost unorthographic life One day however a small line of blind text by the name
                    of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    </blockquote>
                </aside>

            </div>

            <div class="col-six tab-full">

                <h3>Block Quotes</h3>

                <blockquote cite="http://where-i-got-my-info-from.com">
                <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                to do what you believe is great work. And the only way to do great work is to love what you do.
                If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                </p>
                <cite>
                    <a href="#">Steve Jobs</a>
                </cite>
                </blockquote>

                <blockquote>
                <p>Good design is as little design as possible.</p>
                <cite>Dieter Rams</cite>
                </blockquote>

            </div>

        </div> <!-- end row -->


        <div class="row half-bottom">

            <div class="col-six tab-full">

                <h3>Example Lists</h3>

                <ol>
                    <li>Here is an example</li>
                    <li>of an ordered list.</li>
                    <li>A parent list item.
                        <ul>
                            <li>one</li>
                            <li>two</li>
                            <li>three</li>
                        </ul>
                        </li>
                        <li>A list item.</li>
                    </ol>

                <ul class="disc">
                    <li>Here is an example</li>
                    <li>of an unordered list.</li>
                </ul>

                <h3>Definition Lists</h3>

                <h5>a) Multi-line Definitions (default) </h5>

                <dl>
                    <dt><strong>This is a term</strong></dt>
                        <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
                    <dt><strong>Another Term</strong></dt>
                        <dd>And it gets a definition too, which is this line</dd>
                        <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
                </dl>

            </div>

            <div class="col-six tab-full">

                <h3>Buttons</h3>

                <p>
                    <a class="btn btn--primary full-width" href="#0">Primary Button</a>
                    <a class="btn full-width" href="#0">Default Button</a>
                    <a class="btn btn--stroke full-width" href="#0">Stroke Button</a>
                </p>

                <h3>Skill Bars</h3>
                
                <ul class="skill-bars">
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>HTML5</strong>
                    </li>
                    <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>CSS3</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>JQuery</strong>
                    </li>
                    <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>PHP</strong>
                    </li>
                    <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Wordpress</strong>
                    </li>
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Angular JS</strong>
                    </li>
                </ul>

            </div>

        </div> <!-- end row -->

        <div class="row half-bottom">

            <div class="col-six tab-full">
                    
                <h1>H1 Heading</h1>
                <p>Doloremque dolor voluptas est sequi omnis. Pariatur ut aut. Sed enim tempora qui veniam qui cum vel. 
                Voluptas odit at vitae minima. In assumenda ut. Voluptatem totam impedit accusantium reiciendis excepturi aut qui accusamus praesentium.</p>

                <h2>H2 Heading</h2>
                <p>Doloremque dolor voluptas est sequi omnis. Pariatur ut aut. Sed enim tempora qui veniam qui cum vel. 
                Voluptas odit at vitae minima. In assumenda ut. Voluptatem totam impedit accusantium reiciendis excepturi aut qui accusamus praesentium.</p>

                <h3>H3 Heading</h3>
                <p>Doloremque dolor voluptas est sequi omnis. Pariatur ut aut. Sed enim tempora qui veniam qui cum vel. 
                Voluptas odit at vitae minima. In assumenda ut. Voluptatem totam impedit accusantium reiciendis excepturi aut qui accusamus praesentium.</p>

            </div>

            <div class="col-six tab-full">
                    
                <h4>H4 Heading</h4>
                <p>Doloremque dolor voluptas est sequi omnis. Pariatur ut aut. Sed enim tempora qui veniam qui cum vel. 
                Voluptas odit at vitae minima. In assumenda ut. Voluptatem totam impedit accusantium reiciendis excepturi aut qui accusamus praesentium.</p>

                <h5>H5 Heading</h5>
                <p>Doloremque dolor voluptas est sequi omnis. Pariatur ut aut. Sed enim tempora qui veniam qui cum vel. 
                Voluptas odit at vitae minima. In assumenda ut. Voluptatem totam impedit accusantium reiciendis excepturi aut qui accusamus praesentium.</p>

                <h6>H6 Heading</h6>
                <p>Doloremque dolor voluptas est sequi omnis. Pariatur ut aut. Sed enim tempora qui veniam qui cum vel. 
                Voluptas odit at vitae minima. In assumenda ut. Voluptatem totam impedit accusantium reiciendis excepturi aut qui accusamus praesentium.</p>

            </div>

        </div>


        <div class="row half-bottom">

            <div class="col-twelve">

                    <h3>Stats Tabs</h3>

                <ul class="stats-tabs">
                    <li><a href="#">1,234 <em>Sasuke</em></a></li>
                    <li><a href="#">567 <em>Hinata</em></a></li>
                    <li><a href="#">23,456 <em>Naruto</em></a></li>
                    <li><a href="#">3,456 <em>Kiba</em></a></li>
                    <li><a href="#">456 <em>Shikamaru</em></a></li>
                    <li><a href="#">26 <em>Sakura</em></a></li>
                    </ul>

            </div>

        </div> <!-- end row -->


        <div class="row half-bottom">

            <div class="col-six tab-full">

                <h3>Responsive Image</h3>
                <p><img src="/assets/images/wheel-500.jpg" 
                    srcset="/assets/images/wheel-1000.jpg 1000w, 
                    /assets/images/wheel-500.jpg 500w" 
                    sizes="(max-width: 1000px) 100vw, 1000px" alt=""></p>

            </div>

            <div class="col-six tab-full">

                <h3>Responsive video</h3>

                <div class="video-container">
                <iframe src="https://player.vimeo.com/video/14592941?color=00a650&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                </div>

            </div>
            
        </div> <!-- end row -->


        <div class="row add-bottom">

            <div class="col-twelve">

                <h3>Tables</h3>
                <p>Be sure to use properly formed table markup with <code>&lt;thead&gt;</code> and <code>&lt;tbody&gt;</code> when building a <code>table</code>.</p>

                <div class="table-responsive">

                    <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Sex</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Naruto Uzumaki</td>
                                <td>16</td>
                                <td>Male</td>
                                <td>Konoha</td>
                            </tr>
                            <tr>
                                <td>Sakura Haruno</td>
                                <td>16</td>
                                <td>Female</td>
                                <td>Konoha</td>
                            </tr>
                            </tbody>
                    </table>

                </div>

            </div>
            
        </div> <!-- end row -->
    

        <div class="row">

            <div class="col-six tab-full">

                <h3>Form Styles</h3>

                <form>
                        <div>
                            <label for="sampleInput">Your email</label>
                            <input class="full-width" type="email" placeholder="test@mailbox.com" id="sampleInput">
                    </div>
                    <div>
                            <label for="sampleRecipientInput">Reason for contacting</label>
                            <div class="cl-custom-select">
                                <select class="full-width" id="sampleRecipientInput">
                                    <option value="Option 1">Questions</option>
                                    <option value="Option 2">Report</option>
                                    <option value="Option 3">Others</option>
                                </select>
                            </div>
                    </div>
                    
                        <label for="exampleMessage">Message</label>
                        <textarea class="full-width" placeholder="Your message" id="exampleMessage"></textarea>

                        <label class="add-bottom">
                            <input type="checkbox">
                            <span class="label-text">Send a copy to yourself</span>
                        </label>
                    
                        <input class="btn--primary full-width" type="submit" value="Submit">

                </form>

            </div>

            <div class="col-six tab-full">

                <h3>Alert Boxes</h3>

                <br>
                
                <div class="alert-box alert-box--error hideit">
                    <p>Error Message. Your Message Goes Here.</p>
                    <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                </div><!-- /error -->
                        
                <div class="alert-box alert-box--success hideit">
                    <p>Success Message. Your Message Goes Here.</p>
                    <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                </div><!-- /success -->
                        
                <div class="alert-box alert-box--info hideit">
                    <p>Info Message. Your Message Goes Here.</p>
                    <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                </div><!-- /info -->
                        
                <div class="alert-box alert-box--notice hideit">
                    <p>Notice Message. Your Message Goes Here.</p>
                    <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                </div><!-- /notice -->
            
            </div>

        </div> <!-- end row -->

    </section> <!-- end styles -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Let's Stay In Touch.
                </h1>
                <p class="lead">
                    Subscribe for updates, special offers and more.
                </p>
            </div>
            <div class="col-six md-full footer__subscribe end">
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
            
                        <input type="submit" name="subscribe" value="Sign Up">
            
                        <label for="mc-email" class="subscribe-message"></label>
            
                    </form>
                </div>
            </div>
        </div> <!-- end footer__top -->

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="index.html">
                        <img src="/assets/images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <ul class="footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-six tab-full end">
                <ul class="footer__site-links">
                    <li><a class="smoothscroll" href="#home" title="intro">Intro</a></li>
                    <li><a href="index.html#about" title="about">About</a></li>
                    <li><a href="index.html#features" title="features">Features</a></li>
                    <li><a href="index.html#pricing" title="pricing">Pricing</a></li>
                    <li><a href="blog.html" title="blog">Blog</a></li>
                </ul>

                <p class="footer__contact">
                    Do you have a question? Send us a word: <br>
                    <a href="mailto:#0" class="footer__mail-link">support@standout.com</a>
                </p>

                <div class="cl-copyright">
                    <span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>

        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>