﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Zoro Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/" style="color:cadetblue;font-size:12px">Back to Main Page</a>
        </div>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(/assets/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        Intoduction to Project Zoro
                    </h1>
                </div>
            </div>

        </div> <!-- end page-header -->
        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">

            <div class="row blog-content">
                <div class="col-full blog-content__main">

                    <blockquote>
                        <p class="lead drop-cap">
                            A human life is a series of footnotes to a vast obscure unfinished masterpiece.
                            It is a continous cycle of improvements, enhancements, mistakes & corrections.
                            <b> And so is the life of a project!</b>
                        </p>
                    </blockquote>

                    <p>
                        Well, if you have landed on this page & reading it with curiosity it is very safe to assume that you are from IT programming domain working
                        with some company on a sofware project.
                        (<i>If you are not from IT software domain, then also you can read on. What's there to lose </i>🙂).
                        You might be from any programming field like Asp.net, ReactJS, NodeJS etc but you all have one thing in common.
                        Programming. And through programming you must be creating different kind of web applications for different purposes currently.
                        This web site is just a little attempt to help the guys who code. To guide them in developing & nurturing a web application.
                        To explain them, practically, the various steps involved in creating a web site from ZERO (read localPC) level to PRODUCTION level. <br /><br />
                        <i>Wait! Aren't many tutorials on internet already doing it?</i> <br /><br />
                        Yes. You guessed it right.
                        There are indeed many tutorials/blogs out there which would tell you how to code in Asp.net or ReactJS or NodeJS etc or
                        how to use a specific feature of that language in your programming.<br /><br />
                        <i>Then what is different about this? Why another same type of website?</i> Confusions! Questions!<br /><br />

                        OK. Let's get to the point now.

                        Our purpose is NOT JUST to tell you how to code but also explain the various stuff which is involved in the journey
                        of a Web Application.
                        To understand it we must first understand what are the steps which a web project goes through during it's life cycle.
                        If I have to summarize it in bullet points, it would go like this -
                        <ul>
                            <li>Start creating your piece of code i.e web application</li>
                            <li>Commit in some repository like bitbucket/github etc so that the work is not lost</li>
                            <li>Implement some tracking mechanims, like Mixpanel/GA etc, to understand the user behaviour</li>
                            <li>Deploy on some cloud like Azure, AWS etc</li>
                            <li>Buy some custom domain for the website</li>
                            <li>Map the custom domain with your hosted application</li>
                            <li>Implement CDN for faster performance</li>
                            <li>Implement special tags for whatsapp/facebook previews</li>
                            <li>Code refactoring to check if any design pattern could solve the code maintanence nightmare</li>
                            <li>Introduce CI/CD for better stability</li>
                            <li>Implement some APM mechanism tools like New Relic, Stackify etc for monitoring of production errors, exceptions etc</li>
                            <li>Email for the domain name of the website like customersupport@domainname.com</li>
                             etc ......
                        </ul>
                        
                    </p>

                    <p>
                        Above bullet points specifies only some of the steps of a typical life cycle of a project, not in any fixed order though. Every code goes through this cycle
                        & keeps on repeating these steps continously as per the need. I gradually realized there is lot more stuff required to be implemented
                        in the projects other than code and I started searching on internet to gain more knowldege about it. But to my surprise,
                        I found that this kind of knowledge was hard to find, though the articles and tutorials are there but they were telling me 
                        in a very distributed manner for e.g. one tutorial was explaining how to deploy on cloud, then other site was explaining
                        how to use code repository but I could not find a single website which would explain all the concepts of a project life cycle and
                        how to implement them. And that's when I thought of starting an online project which would cover all these steps and more!
                        Here on this portal we will start and create an Asp.Net CORE project, step by step, explaining the different fundamentals
                        involved. This is a just a small attempt from our side to share the knowledge with you & gaining some in the process.
                    </p>
                </div><!-- end blog-content__main -->
            </div> <!-- end blog-content -->


        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->
    <!-- blog nav
    ================================================== -->
    <div class="blog-single-nav-wrap">
        <div class="row blog-single-nav">
            <div class="col-six blog-single-nav__prev">
                <a href="/" rel="prev">
                    <span>Prev</span>
                    Back to Main Page
                </a>
            </div>
            <div class="col-six blog-single-nav__next">
                <a href="/create-a-simple-aspnetcore-application" rel="next">
                    <span>Next</span>
                    Create a Simple Asp.net Core Web Application
                </a>
            </div>
        </div>
    </div> <!-- end blog-single-nav-wrap-->
    <!-- footer
    ================================================== -->
    
    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>