﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Zoro Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/" style="color:cadetblue;font-size:12px">Back to Main Page</a>
        </div>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(/assets/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        Create a Simple Asp.net Core Web Application
                    </h1>
                </div>
            </div>

        </div> <!-- end page-header -->
        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">

            <div class="row blog-content">
                <div class="col-full blog-content__main">
                    <p>
                        Though this chapter dedicated only for the creation of a test application seems to be just a trivial task but it is an important one.
                        The web application which we would create here will become the foundation on which we will keep developing & implementing different components
                        mentioned in <a href="/introduction-to-project-zoro" target="_blank"><b>Introduction to Project Zoro</b></a>.
                        Without further ado, let's start.
                    </p>
                    <p>
                        <ul>
                            <li>Open Visual Studio 2017</li>
                            <li>
                                Create new project & select Asp.net Core Web Application as shown below
                                <div><img src="~/assets/images/project-02R/02_1.png" style="margin-left:0px;width:700px;border:solid" /></div>
                            </li>
                            <li>
                                Click Ok & move to next screen. Select ".NET Core" & "Web Application(Model-View-Controller)" option. Remember to uncheck
                                "Configure for HTTPS option" & choose Authentication as "No Authentication". Refer the below hightlighted area
                                <div><img src="~/assets/images/project-02R/02_2.png" style="margin-left:0px;width:700px;border:solid" /></div>
                            </li>
                            <li>
                                Hit F5 and following(or similar) screen would show up on your browser.
                                <div><img src="~/assets/images/project-02R/02_3.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                As you can see the screen is full of various links & other stuff so let's make a separate
                                view to make the things simple.
                            </li>
                            <li>
                                Paste following code in "HomeController.cs" file. <br />
                                <code>
                                    public IActionResult Adams()
                                    {
                                    return View();
                                    }
                                </code> <br />
                                Now add a view of the same name by right clicking on Method name "Adams"
                            </li>
                            <li>
                                Replace the code in newly created "Adams.cshtml" file with the following one. <br />
                                <div><img src="~/assets/images/project-02R/02_5.png" style="margin-left:0px;width:700px;border:solid" alt=""></div>
                        </li>
                        Now run the application & open this page
                        <li>
                            Once open you will see the following page
                            <div><img src="~/assets/images/project-02R/02_4.png" style="margin-left:0px;width:700px;border:solid" /></div>
                            You can see that the page has additional header & footer also showing up which is coming from "/Shared/_ViewStart.cshtml". Let's
                            delete the code in this file & run the page again. Now the additional headers & footers are not coming and the page is super basic.
                        </li>
                        <li>
                            One last thing to do is change the routing of the main page so that once the application is run, by default our newly created page shows up.
                            Go to "Configure" method in "Startup.cs" file. You would see following code block there
                            <code>
                                app.UseMvc(routes =>
                                {
                                routes.MapRoute(
                                name: "default",
                                template: "{controller=Home}/{action=Index}/{id?}");
                                });
                            </code>
                            Change "Index" to "Adams" and build the application. Now the new page would open up by default whenever the application is run.
                        </li>
                        </ul>
                    
                    </p>
                    <p>
                        Congratulations! We have created a super basic web application with a super basic web page and moved one step forward in our exciting journey.
                    </p>
                </div><!-- end blog-content__main -->
            </div> <!-- end blog-content -->


        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->
    <!-- blog nav
    ================================================== -->
    <div class="blog-single-nav-wrap">
        <div class="row blog-single-nav">
            <div class="col-six blog-single-nav__prev">
                <a href="/what-exactly-is-devops-and-why-almost every-software-company-is-adopting-it" rel="prev">
                    <span>Prev</span>
                    What exactly is Devops and why almost every Software company is adopting it?
                </a>
            </div>
            <div class="col-six blog-single-nav__next">
                <a href="/how-to-deploy-aspnetcore-application-on-microsoft-azure" rel="next">
                    <span>Next</span>
                    Deploy the application to Azure Cloud
                </a>
            </div>
        </div>
    </div> <!-- end blog-single-nav-wrap-->
    <!-- footer

    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>