﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Zoro Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/" style="color:cadetblue;font-size:12px">Back to Main Page</a>
        </div>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(/assets/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        Deploy the application to Azure Cloud
                    </h1>
                </div>
            </div>

        </div> <!-- end page-header -->
        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">

            <div class="row blog-content">
                <div class="col-full blog-content__main">

                    <blockquote>
                        <p class="lead drop-cap">
                            Let us touch the Cloud & come back!
                        </p>
                    </blockquote>

                    <p>
                        I am assuming that you already have an Azure subscription & if not then please go to
                        <a href="http://www.portal.azure.com">Microsoft Azure</a> & take one.
                        It would ask for your credit card info but don't worry it will cost you very minimal charges & that too depending on the resources
                        you use.
                    </p>

                    <p>
                        Let's Start!
                    </p>
                    <div>
                        <p>
                            Login to <a href="http://www.portal.azure.com">portal.azure.com</a>. Once logged in you would see the following screen
                        </p>
                        <p>
                            <img src="~/assets/images/project-02R/03_1.png" style="margin-left:0px;width:700px;border:solid" />
                            <div>
                                Now on the left hand side you will see many resources but we will focus currently on App Services. The Asp.net applications
                                are deployed on App Services. Remember the good old IIS?
                                <i>I am referring it as old because I am not sure if anyone uses it nowadays.</i> Almost everybody is using Azure nowadays
                                to host the .net applications. We will uncover the mystery around it gradually as we progress on this project. Let's understand 2 concepts which are critical
                                to understand before moving on. <b>Resource Group</b> and <b>App Service</b>
                            </div>
                        </p>
                    </div>
                    <div>
                        <h1>App Service</h1>
                        <p>
                            To understand App Service it is important to be clear in the understanding of a Resource.
                            In simple terms, a Resource is a component which serves a specific purpose. Let's say you are working on an
                            application which takes the user information like his name, age, country, address etc
                            & save it in some DB. If I break it into some components, it will be like below -
                            <ul>
                                <li>
                                    Web page for taking the user information
                                </li>
                                <li>
                                    A DB to store the user information
                                </li>
                                <li>
                                    Web Server to host the web application
                                </li>
                            </ul>
                            Now if you are running everything locally i.e. you have set up DB on local machine & running it through F5 command in Visual
                            Studio, then you don't need anything else. But in practical scenarios, the application needs to run on some web server through
                            which it can be accessed publically. Microsoft Azure provides you different resources on which you can deploy your website etc
                            to make it run. So in terms of Azure, a resource is a component that is needed to deploy & run your application. Now we had broken up
                            your application in 3 components above but if I talk about which ones are needed to run your application on Azure then it comes down to
                            2 components - Web Server to deploy your application & Database. These 2 components correspond to resources in Azure world i.e. for
                            each component there is a resource available in Azure.
                            App Service is such resource which is used to host your application.For now, you can consider it as a replacement of Web Server(in loose terms) but in reality it is much much more than that.
                        </p>
                        <h1>Resource Group</h1>
                        <p>
                            A resource group is basically a logical component which groups your required resources in one place.
                            Continuing from above example of your application, you would require 2 resources for your Azure deployment.
                            <ul>
                                <li>
                                    Web Server
                                </li>
                                <li>
                                    Database
                                </li>
                            </ul>
                            So a resource group would consist of these 2 resources so that the dependent resources can be identified in one go by looking at
                            a single resource group. You can think of a resource group as a namespace & resources as multiple classes within it. Just like
                            a namespace consists of different classes within it, a resource group consists of multiple resources under it.
                        </p>
                        <p class="lead">
                            <b> Before deploying on Azure we will first need to create Resource Group & App Service. Let us do that.</b>
                        </p>
                        <h3>Resource Group Creation</h3>
                        <p>
                            <ul>
                                <li>
                                    Open Azure portal on <a href="http://www.portal.azure.com" target="_blank">Microsoft Azure</a> and login there. You would see something
                                    similar to below
                                    <div>
                                        <img src="~/assets/images/project-02R/03_5.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>

                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Click on Resource groups on left hand side pane & you would see following screen showing existing Resource groups and
                                    the option to create new.<br />
                                    (<i>I have distorted the existing resource groups names just for the sake of some privacy.</i>🙂)
                                    <div>
                                        <img src="~/assets/images/project-02R/03_6.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Click on "Add New" & below screen would show up
                                    <div>
                                        <img src="~/assets/images/project-02R/03_7.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                    You can see there are 3 fields on the screen - <br />
                                    <b>Subscription</b> : The value of this field is "Pay-As-You-Go", that is you pay what you use. Remember we
                                    discussed previously in this post regarding resources? So every resource has a different price plan as per it's usage. Whatever you
                                    use, it will be billed accordingly. Don't worry, what we are going to create here would charge you very minimal and
                                    that tool if you keep your deployed application ruuning. We will stop the application once deployed and tested so that
                                    it won't burden your pocket 🙂.<br />
                                    Below are some good references on Azure pricing - <br />
                                    <a href="https://azure.microsoft.com/en-in/pricing/calculator/" target="_blank">Azure Pricing Calculator</a><br />
                                    <a href="https://azure.microsoft.com/en-in/pricing/" target="_blank">Azure Pricing</a><br />
                                    <a href="https://www.sherweb.com/blog/cloud-server/understanding-microsoft-azure-pricing/" target="_blank">Understand Azure Pricing</a><br />
                                    <b>Resource Group</b> - This is the name of the resource group. Provide the name as Zoro.<br />
                                    <b>Region</b> - This is the location of your server to store the metadata of your resource group. Provide Central India as location.
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Click on Create and there you have your resource group - Zoro. Click on Resource groups on left pane & you should be able to see Zoro
                                    on that screen.<br />
                                    (<i>If you are still not able to see it, please referesh the page to reflect it.</i>)
                                </li>
                            </ul>
                        </p>
                        <h3>App Service Creation</h3>
                        <p>
                            <ul>
                                <li>
                                    Click on "App Services" on the left side pane and following screen would show up
                                    <div>
                                        <img src="~/assets/images/project-02R/03_8.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Click on "Add" to reach the next screen and you would find that the page has lot more fields than we had seen
                                    during resource group creation. Let's go through them. First we understand the upper fields as per below fig.
                                    <div>
                                        <img src="~/assets/images/project-02R/03_9.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                    <b>Subscription</b> - This we have already discussed during resource group creation<br />
                                    <b>Resource Group</b> - Here we would need to provide the resource group name under which our newly created
                                    App Service would be grouped. Let us provide our recently created Zoro resource group name here.<br />
                                    <b>Instance Details Name</b> - This would be the name of our web app. Let us give the name as Zoro. <br /><br />

                                    Now scroll down and you would see the following fields -
                                    <div>
                                        <img src="~/assets/images/project-02R/03_10.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                    <b>Publish</b> - Choose "Code" option.(<small>We will come to "Docker Container" in later chapters. Ignore it for now.</small>)<br />
                                    <b>Running Stack</b> - As we are running our application on Core 2.1 so select .NET Core 2.1 from the dropdown<br />
                                    <b>Operating System</b> - Select Windows<br />
                                    <b>Region</b> - Select Central India as location. <i>
                                        One thing to note here is that the region of App Service
                                        can be different from the region of resource group within which it is created.
                                    </i><br />
                                    <b>App Service Plan</b> - It specifies what kind of infrastructure you want regarding servers, CPUs, Custom domain etc.
                                    For now, please create a new one and name it as Zoro. You will see there is one more field "Sku and Size". Click
                                    "Change" and you would see the following screen for specifications -
                                    <div>
                                        <img src="~/assets/images/project-02R/03_11.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                    Click on "Dev/Test" tab to see below screen
                                    <div>
                                        <img src="~/assets/images/project-02R/03_12.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                    As you can see F1 option here shows that it is
                                    <ul class="disc">
                                        <li>
                                            A shared infrastructure which means other user's web application would also be run here along with yours.
                                        </li>
                                        <li>
                                            1 GB memory would be allocated to your application
                                        </li>
                                        <li>
                                            60 minutes of CPU time would be provided per day
                                            i.e. the application would respond to requests for about 60 minutes in a day and if it exceeds 60 minutes then
                                            the site would return 403 message to the browser and it would be unavailable.
                                        </li>
                                        <li>
                                            And that's the best part - It's completely free!
                                        </li>
                                    </ul>
                                    Click Apply and then click "Review + create" on App Service screen.<br />
                                    Kudos! The App Service has been created for the Zoro project. You can check it by clicking on App Service on left hand
                                    side pane.
                                </li>
                            </ul>
                        </p>
                        <p class="lead">
                            <b> We have Resource Group and App Service ready now. Let us deploy our Zoro project on Azure.</b>
                        </p>
                        <p>
                            <ul>
                                <li>Open Zoro project in VS 2017</li>
                            </ul>
                            <ul>
                                <li>
                                    Right click on Zoro project & select "Publish" option as shown below
                                    <div>
                                        <img src="~/assets/images/project-02R/03_2.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Choose "Select Existing" option & click "Publish"
                                    <div>
                                        <img src="~/assets/images/project-02R/03_3.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Here you would need to sign in to your Azure subscription
                                    <div>
                                        <img src="~/assets/images/project-02R/03_4.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                    Once signed in, the screen would show up showing your existing resource groups. Click on Zoro resource group and
                                    Zoro App Service would be shown as below
                                    <div>
                                        <img src="~/assets/images/project-02R/03_13.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Select Zoro App Service and click ok. Now wait for the magic to happen while it publishes your application to
                                    Azure. Once published, it will automatically open your application in browser as shown below -
                                    <div>
                                        <img src="~/assets/images/project-02R/03_14.png" style="margin-left:0px;width:700px;border:solid" />
                                    </div>
                                </li>
                            </ul>
                        </p>
                        <p>
                            You can see that, by default, Azure provides you a public domain name of [yourwebappname].azurewebsites.net. No need of
                            manually hosting your application on IIS or on any other server! Just right click and viola! The application is hosted
                            successfully and that too on a public domain! Isn't it great? In case you are wondering what do I do if I have to provide
                            my own domain name to the site then remember that F1 plan that we had choosen does not support custom domain feature but
                            don't worry we will surely implement a custom domain in later chapters.
                        </p>
                    </div>
                    <div>
                        <p>
                            <b> Summary of what we learned</b> -
                            <ul>
                                <li>
                                    What is a Resource group and how to create one
                                </li>
                                <li>
                                    What is an App Service and how to create it
                                </li>
                                <li>
                                    How to deploy the web application on Azure
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div>
                        <p>
                            <dl>
                                <dt style="color:darkcyan">
                                    Below are some good articles to refer
                                </dt>
                                <dd>
                                    <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs?view=aspnetcore-3.0" target="_blank" style="color:blueviolet">Publish to Azure using VS</a>
                                </dd>
                                <dd>
                                    <a href="https://aspnetcore.readthedocs.io/en/stable/tutorials/publish-to-azure-webapp-using-vs.html" target="_blank" style="color:blueviolet">Publish to Azure Webapp</a>
                                </dd>
                            </dl>
                        </p> 
                    </div>
                </div><!-- end blog-content__main -->
            </div> <!-- end blog-content -->


        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->
    <!-- blog nav
    ================================================== -->
    <div class="blog-single-nav-wrap">
        <div class="row blog-single-nav">
            <div class="col-six blog-single-nav__prev">
                <a href="/create-a-simple-aspnetcore-application" rel="prev">
                    <span>Prev</span>
                    Create a Simple Asp.net Core Web Application
                </a>
            </div>
            <div class="col-six blog-single-nav__next">
                <a href="/how-to-use-git-as-your-code-repository" rel="next">
                    <span>Next</span>
                     How to save the project work on GIT code repository
                </a>
            </div>
        </div>
    </div> <!-- end blog-single-nav-wrap-->
    <!-- footer
    ================================================== -->

    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>