﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Zoro Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta property="og:title" content="The Zoro Project" />
    <meta property="og:description" content="Let us learn together" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image" content="http://www.thezoroproject.com/assets/images/1.jpg" />
    <meta property="og:url" content="http://www.thezoroproject.com" />
    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function (c, a) {
            if (!a.__SV) {
                var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                    function c(b, i) {
                        var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
                }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("5a08c69d458899850fe227237db8f181");</script><!-- end Mixpanel -->
</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">



        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(/assets/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        A Simple Introduction to DevOps
                    </h1>
                </div>
            </div>

        </div> <!-- end page-header -->
        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">

            <div class="row blog-content">
                <div class="col-full blog-content__main">

                    <blockquote>
                        <p class="lead drop-cap">
                            The relationship between Dev and Ops in a company is defined by the release process.
                            You will understand the relationship if you examine this process.
                        </p>
                    </blockquote>

                    <p>
                        If you have not heard the term "DevOps" which everybody is talking about nowwadays, then you must be living under the rock! But
                        not to worry, the time has arrived to come out of the rock and face the reality. There are many who are working in a
                        software company and already using devops without having any knowledge of it! So folks who have heard or not heard about it
                        and don't quite really understand why all this hue and cry for this fancy word, let us take you on a journey which will explain
                        the concepts and need behind it. By the end of this chapter, you will have a good understanding of DevOps and it's tools/skills
                        required to implement it at your workplace.
                    </p>

                    <p>
                        First of all we need to understand that DevOps is NOT any set of tools or skills but rather an IDEA or a MINDSET to achieve the
                        faster delivery of the software.
                    </p>
                    <blockquote>
                        <p>
                            "DevOps is not a Goal, But a never-ending process of continual improvement" – Jez Humble
                        </p>
                    </blockquote>
                    <p>
                        Ok. First let us discuss why the need of DevOps was realized. What were the hindrances due to which this fancy stuff
                        was discovered.<br />
                        Below is a typical process(without DevOps) of a software delivery in same order -
                        <ul>
                            <li>
                                Requirements of the software is finalized.
                            </li>
                            <li>
                                Effort estimates of the requirements are discussed and finalized which could range from days to months.
                            </li>
                            <li>
                                Dev team creates the software as per the requirements and estimations.
                            </li>
                            <li>
                                Infra team creates dev,qa,regression and production environments for e.g. dev.webproject.com, qa.webproject.com,
                                regression.webproject.com and prod.webproject.com
                            </li>
                            <li>
                                Dev team continously commit the code in a code repository & ask release team to deploy it on dev.webproject.com for their
                                unit testing.
                            </li>
                            <li>
                                Release team deployes the whole code on qa.webproject.com.
                            </li>
                            <li>
                                QA team tests whole software on qa.webproject.com & assigns the bugs found to Dev team.
                            </li>
                            <li>
                                Dev team resolves the bugs and commits the code, and asks release team to deploy it on dev.webproject.com
                                for their unit testing. Once unit testing is done, the code is moved to qa.webproject.com so that QA can test it.
                            </li>
                            <li>
                                Once QA testing is done, the code is moved to regression server i.e. regression.webproject.com. QA tests here to check
                                the possibility of any side affects.
                            </li>
                            <li>
                                The cycle continues till the software is bug free.
                            </li>
                            <li>
                                Once it's bug free, release team deployes the code on prod.webproject.com for public access.
                            </li>
                        </ul>
                        Above is more or less the same process which is carried out for the software delivery. So what is the problem with this approach?
                        When we are able to successfully deliver the work with traditional process then what is the need of applying a different
                        methodology? Let us dig a bit deeper.
                    </p>

                    <p>
                        If I have to say the problem in a single word with traditional methodology, that would be - turnaround time i.e time taken in the
                        full delivery of the software. <br />
                        Let us discuss with an example. Imagine that the requirement comes to create a Document Management System software and following functionalities are
                        to be implemented -
                        <ul>
                            <li>
                                User Sign up
                            </li>
                            <li>
                                User Login
                            </li>
                            <li>
                                User can upload his documents through a screen
                            </li>
                            <li>
                                User can search his uploaded documents through another screen
                            </li>

                        </ul>
                        Dev team, QA team along with Project Manager analyze the requirements and come up with the efforts required i.e. no. of days
                        needed to complete this project. Suppose it would require 45 days to fully deliver it(dev + qa+infra+release). Once delivered, the business
                        stakeholders(<i>the big guns of the companies who actually provide the requirements</i>) think that it will be great to provide
                        document edit & delete functionalities as well. They provide this requirement and again effort estimations are done, & 20 days more are estimated
                        . So, in total, the project took around 65 days to get completed. Imagine that the
                        new requirements from stakeholders would keep coming (to add more features to the software), the dev/qa team would need to test the
                        new features along with all the old ones just to check that there are no side effects of new code commits! Now the immediate
                        problems here which I can see are -
                        <ul>
                            <li>
                                Business is not able to see the results quickly. They will need to wait until the whole project is fully ready.
                            </li>
                            <li>
                                Lot of teams are involved which introduces turn around time as below -
                                <ul>
                                    <li>
                                        Dev team coordinates with release/infra for the setup of dev server and qa server
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Dev team coordinates with QA team i.e. explaining them the functionalities and all.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Dev and QA team tests on different servers i.e. on dev.webproject.com and qa.webproject.com respectively which might
                                result in different results due to some deployment problems. For e.g. it's working fine on dev server but not working fine
                                on qa server due to some mistake done by release team. Now resolving it would introduce some turn around time.
                            </li>
                            <li>
                                Once QA is done with their testing, all the changes are moved to regression server and QA again do the regression testing
                                to check for any side affects. It will again introduce some turn around time.
                            </li>
                            <li>
                                Once regression testing is done, coordination with Infra team to setup the production server i.e. prod.webproject.com
                            </li>
                            <li>
                                While giving the estimates these turn around times are not measured effectively and usually ignored so it's tricky
                                to deduce the exact timelines for the delivery.
                            </li>
                        </ul>
                    </p>
                    <p>
                        You can see above that the main problem with this traditional approach is <b>invisible turnaround times for the delivery.</b> As I said
                        previously that DevOps is an approach or a mindset which is targetted towards decreasing these turnaround times there by speeding
                        up the deliveres, let us see how can we mitigate the same.
                    </p>
                    <p>
                        The first root cause is that there are multiple teams involved in the delivery of the project i.e. Dev(i.e. development and qa)
                        and OPS(i.e. release and infra). If both these domains could work closely having the context and understanding
                        of the delivery, the delivery could be sped up. Or better if all these different teams would be combined into a single team
                        that would work solely for the delivery of this project, the turn around times would be greatly reduced because then the
                        coordination part would be highly mitigated. They can easily talk to each other to resolve the issues quickly. For e.g. QA
                        would not need to send an email to Dev team or Dev team would not need to chase Infra for any clarification on any functionality.
                        They can straightaway discuss and clear
                        the confusions. The result. Decreased turnaround time.
                    </p>
                    <p>
                        <mark>Merging these different teams into a single team is a DevOps approach.</mark>
                    </p>
                    <p>
                        Another root cause of the turnaround problem is that effort estimation is done for the whole project. Let us reverse this approach
                        i.e. rather than estimating for the whole project let us break the project into smaller functionalities and deliver them in fixed
                        timelines. For e.g. deliver first signup and login functionality in 10 working days and then upload functionality in next 10
                        working days and so on. Business stakeholdes would be able to see the functionalities in less days thereby giving them window to
                        provide their feedback early on. These fixed timelines to deliver smaller functionalities are referred to as Sprints. I think you
                        must have heard this term which is already popular nowadays.
                    </p>
                    <p>
                        <mark>Releasing smaller functionalities within fixed timelines i.e. sprints is a DevOps approach. </mark>
                    </p>
                    <blockquote>
                        <p>
                            "DevOps simply adds the idea that small, cross-functional teams should own the entire delivery process from concept
                            through user feedback and production monitoring." – Mark Schwartz
                        </p>
                    </blockquote>
                    <p>
                        Dev and QA tests on different environments and then QA again do their regression testing on a separate environment. This is again
                        a root cause of the same problem. But now as we saw above that we have merged these teams into a single one shouldn't we merge
                        their environments as well? If both Dev and QA would test their work on the same server and QA would do their regression testing
                        also on the same server, don't you think it would drastically reduce the confusions and would result in speed up of delivery?
                        Yes, I know what you are thinking. Why the hell haven't I thought of it before! I agree it's a great idea indeed! Doing QA testing
                        on regression server would result in less effort during regression testing because the environment would have already become
                        stable during QA testing. So in this example, the environments created could be like - <br />
                        dev.webproject.com - for dev integration testing (<i>this could be skipped depending upon the need</i>) <br />
                        regression.webproject.com - for qa and regression testing <br />
                        production.webproject.com - for production environment <br />
                    </p>
                    <p>
                        <mark>Reducing the environment servers to carry out dev unit testing, qa testing and regression testing is a DevOps approach. </mark>
                    </p>
                    <p>
                        Below is a flow chart of the traditional approach for the till now discussed points -
                        <div>
                            <img src="~/assets/images/project-02R/01_1.png" style="margin-left:0px;width:700px;border:solid" />
                        </div>
                    </p>
                    <p>
                        Below is a flow chart of the DevOps approach for the till now discussed points -
                        <div>
                            <img src="~/assets/images/project-02R/01_1.png" style="margin-left:0px;width:700px;border:solid" />
                        </div>
                    </p>
                    <p>
                        You can see that these two flowcharts for the both approaches are exactly the same BUT it's mainly the STABILITY of the final
                        work on regression server and less effort done during REGRESSION TESTING that we achieve through the new approach. Remember
                        invisible things leading to introduction of turnaround times? We have mitigated the effect of those invisible things
                        resulting in more concrete and stable results. We can also do the efforts estimation more accurately now.
                    </p>
                    <p>
                        Now let us take a look at one more area. What happens when a Dev commits a buggy code in the repository? Yes you guessed it right!
                        It will break other team members code environment as well, as soon as they take latest on their system. Moreover, if somehow that
                        code moves to QA server for testing, QA would fail the work and return it to Dev team resulting in more time spent for delivery.
                        I know you must be thinking that Devs should unit test their work before commiting but how many are out there who actually do this
                        practice honestly? Very few!🙂<br />
                        So can we do something to be informed as soon as possible about the commit of buggy code? Yes we can! If we run basic QA tests
                        as soon as the code is commited, then we can know if the code is ok or not. In other words, if we put some automated tests to run
                        we can eliminiate or minimize the chances of introducing more turnaround times.
                    </p>
                    <p>
                        <mark>
                            Including some automated process to test the latest code for consistent stability thereby reducing the possible
                            turnaround times is a DevOps approach.
                        </mark>
                    </p>
                    <p>
                        You must have heard Continous Integration & Continous Delivery(CI/CD in short) terms in DevOps world. I have intentionally left out
                        these topics for now from this article because I wanted you to first grasp the basic mindset behind this approach.
                        But we will definitely discuss about CI/CD in our next chapters.
                    </p>
                    <blockquote>
                        <p>
                            "DevOps adoption means that you are willing to change fast, develop fast, test fast, fail fast,
                            recover fast, learn fast and push the product/features fast to the market." – Pavan Belagatti
                        </p>
                    </blockquote>
                </div><!-- end blog-content__main -->
                <div>
                    DevOps is much much more than what I discussed above but it should be at least a good starting point for you. We will discuss many
                    more stuff regarding it in my coming articles.
                </div>
            </div> <!-- end blog-content -->


        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->
    <!-- blog nav
    ================================================== -->
    <!-- footer
    ================================================== -->
    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    <div id="disqus_thread"></div>
    <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://thezoroproject.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script type="text/javascript">
        $(document).ready(function () {
            var userID = readCookie("userID");
            mixpanel.identify(userID);
            mixpanel.people.set({
                "$ID": userID
            });
            mixpanel.track("zoro1");
        });
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    </script>
    
</body>
</html>