﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Zoro Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/" style="color:cadetblue;font-size:12px">Back to Main Page</a>
        </div>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->
    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(/assets/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        How to use GIT as your code repository
                    </h1>
                </div>
            </div>

        </div> <!-- end page-header -->
        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">

            <div class="row blog-content">
                <div class="col-full blog-content__main">

                    <blockquote>
                        <p class="lead drop-cap">
                            Don't store your code somewhere and then wait for the disaster to happen!
                        </p>
                    </blockquote>

                    <p>
                        If I have to define a code repository in a super simple way, it would go like this <br />
                    </p>
                    <p class="lead">
                        A Code Repository is a place where you store your code.
                    </p>
                    <div>
                        <p>
                            This is the simplest definition of a repository that you can find on the internet! But in reality it is far more than this.
                            Just like DB servers are used to store the application data, repositories are used to store the code work. Let us dive a bit
                            deeper with some basic scenarios to understand the necessity behind it.
                        </p>
                        <dl>
                            <dt>
                                <strong>
                                    Scenario 1
                                </strong>
                            </dt>
                            <dd>
                                You are developing a website and you are the only one who is working on it without any code repository being used.
                                You are daily saving all of your work on your local PC diligently. It's been 10 days since you been developing it & now you have to present a demo
                                of your work to your reporting manager. All is set. You are ready with some heart palpitations(<i>
                                    which always happens whenever there is a demo
                                </i>🙂).
                                Suddenly your computer which was working with butter smoothness till now goes blue and starts showing
                                the below dreaded screen -
                                <div>
                                    <img src="~/assets/images/project-02R/04_1.png" style="margin-left:0px;width:700px;border:solid" />
                                </div>
                                You rush to your IT guy & tell him the issue. He looks into it, do some analysis and announces the one for all solution -
                                Format the PC.
                                You are aware that once formatted you won't be able to get your code back because you have saved all your effort of 10 days
                                onto this PC only. It is even difficult to imagine this situation(<i>considering I am also from the same domain</i>).
                                To avoid this kind of disaster, code repositories are at your disposal. Keep storing your code work
                                in some code repository so that you can retrieve it as & when you want. Just like DB servers are used
                                to store the application data, repositories are used to store the code work.
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <strong>
                                    Scenario 2
                                </strong>
                            </dt>
                            <dd>
                                You are a part of a 3 people team who is working on a website development without any code repository being used.
                                Each person of the team is assigned one web page to work on as below -
                                <ul>
                                    <li>
                                        Vineet is working on Login page
                                    </li>
                                    <li>
                                        Saurabh is working on Dashboard page
                                    </li>
                                    <li>
                                        Ronit is working on User Search page
                                    </li>
                                </ul>
                                Now if each member would save his work on their local PC, how would they group/merge the full code of all these 3 pages 
                                inside a single project. One option is that Vineet would take the code from Saurabh & Ronit through mail & include it in his project. But do you
                                think this would be a suitabe practice? Imagine an application of 10 pages. It would be a cumbersome task resulting in
                                the wastage of resource bandwidth and their time. <br />
                                Now consider that Vineet, Saurabh & Ronit are continously storing
                                their code work in the repository. If they would follow this practice and use code repository then at any given point
                                of time, the full code of all the pages would be at a single place without performing any manual process.
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <strong>
                                    Scenario 3
                                </strong>
                            </dt>
                            <dd>
                                Consider the same team example from above(without any code repository being used) i.e.
                                <ul>
                                    <li>
                                        Vineet is assigned the Login page
                                    </li>
                                    <li>
                                        Saurabh is assigned the Dashboard page
                                    </li>
                                    <li>
                                        Ronit is assigned the User Search page
                                    </li>
                                </ul>
                                Eerybody is working on separate stuffs but suppose that every page is using the same class file
                                (<i>lets call it Common.cs</i>)
                                to access the common functions written for the application like CheckIfValidUser(), IsValidEmailAddress() etc.
                                Let's say Vineet opens Common.cs file & change something as per his requirement, and the same thing is done by Saurabh.
                                Both have updated the same file as per the need and saved it on their local PCs.
                                Now we have 2 tasks at hand -
                                <ul>
                                    <li>
                                        Include all code manually in one project. Vineet takes up this initiave(<i>he is always the one more active</i>🙂)),
                                        takes code from Saurabh/Ronit & include it in his project.
                                    </li>
                                    <li>
                                        While including he will need to make sure his changes should not be overwritten by Saurabh's changes for
                                        Common.cs file. To do this, he will need to manually open both the versions and compare painstakingly for 
                                        finding out the differences to make a single version of the file. Do you think it would be a practical solution
                                        as the project grows? Code merging is one of the most tricky exercise among the teams & therefore doing it
                                        manually is not a realistic thing to do. Enter code repositories! They provide you this facility out of the box
                                        in a very straightforward way(<i>we will learn how to do it in a bit</i>).
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <strong>
                                    Scenario 4
                                </strong>
                            </dt>
                            <dd>
                                Again the same team example from above(without any code repository being used) i.e.
                                <ul>
                                    <li>
                                        Vineet is assigned the Login page
                                    </li>
                                    <li>
                                        Saurabh is assigned the Dashboard page
                                    </li>
                                    <li>
                                        Ronit is assigned the User Search page
                                    </li>
                                </ul>
                                Ronit is working at a breakneck speed on his page & almost about to wrap up his work(<i>Ronit is a fast coder, you see🙂</i>).
                                He writes his last line of code and pumps his fist in the air announcing that the work is done. Vineet is impressed
                                and comes to his seat to have a look at his work. He runs the page in the browser but finds out that it was not working 
                                as per the requirements given. Vineet tells it to Ronit. Ronit also checks and finds that Vineet was indeed right. The
                                page was not working according to given requirements. He scratches his head because now he will have to again write the
                                same logic in the code to make it work. <br />
                                Enter code repositories! <br />
                                If they have been using code repositories, Ronit could have
                                easily pulled his previous version of the file to get his correct code. Yes you heard it right! Code repositories not only store
                                your code work but also store all the versions of your work! So at any given point of time you can go back & search/pull
                                for any version. Isn't it miraculous? We will see in a bit how to do it.
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <p>
                            Now that we have understood the great benefits of using code repositories and why it is an indispensable tool to have, let us
                            learn how to use it. Though there are several repository tools but the most common one being used nowadays is Git, almost 
                            every software company is using it. Once you get used to Git, you can work with any repository because the basics are
                            almost same for every tool.
                        </p>
                        <p>
                            Git can be used in two ways as below -
                            <dl>
                                <dt>
                                    <strong>
                                        Git on local
                                    </strong>
                                </dt>
                                <dd>
                                    You are an individual contributer & working alone on a project but don't want any external server to store
                                    the code. You want all the code to be stored on your local PC only but still wish to have all the whistles &
                                    bells which we had discussed previously in this chapter like storing by versions, searching for different versions of
                                    all your files, comparing different versions etc. So in short you want all features except any external server storage.
                                    GIT provides this facility for you. <i>But remember you are still at risk in case your PC crashses!</i>
                                </dd><br />
                                <dd>
                                    Let us grasp some concepts to understand how it works.
                                </dd><br />
                                <dd>
                                    In terms of Git, there is a working directory, a staging area & a committed area. Working directory is basically the
                                    work location of your project. Once you decided that ynow you have to store your code, you stage it in a staging area
                                    (with a command offcourse) & then you commit it in a committed area(with a command again). These staging and commit
                                    area is nothing but a separate folder at your work location which stores all your codes versions, metadata etc. In other
                                    words, this area becomes the local GIT server . Have a look at below diagram for more clarity -
                                    <div><img src="~/assets/images/project-02R/04_2.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                </dd>
                                <dd>
                                    As you can see from above pic, first you stage your changes and then you commit them. Commit is the final step
                                    when your code is stored on local GIT. <br />
                                    <i>
                                        Remember that staging area and commit area are inside the same folder in some
                                        encrypted stuff i.e. it won't be meaningful to your eyes and neither should you try to understand that
                                    </i><br />
                                    Now that we have understood some basic stuff, lets get into action!
                                </dd>
                                <dd>
                                    <ul>
                                        <li>
                                            Go to https://git-scm.com/download/win and download GIT from there.
                                        </li>
                                        <li>
                                            Once downloaded, click on exe and install it on your PC.
                                        </li>
                                        <li>
                                            Though we can do next things with the help of command terminal but we will not be doing it. We will use a
                                            GIT Client for doing the things with the help of a beautiful UI. <br />
                                            (<b>Note</b> : <i>
                                                If you are really interested in doing all the things through command line interface, you can refer
                                                <a href="https://git-scm.com/book/en/v2/Getting-Started-The-Command-Line" target="_blank">Git With Command Line</a>
                                            </i>)
                                        </li>
                                        <li>
                                            GitKraken is one of the most visually useful & beautiful Git client available right now. We will use that for
                                            our purposes. Go to https://www.gitkraken.com/ and download it on your PC. You will need to register with
                                            it as well. Once done, open GitKraken on PC. You will see "Start a local repo" option on the left hand side.
                                            Click it. You will see the following screen -
                                            <div><img src="~/assets/images/project-02R/04_3.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                        </li>
                                        <li>
                                            Let's name it "Zoro-Repo" & initialize it at any suitable location. Click on "Create Repository" and you will see
                                            that a Zoro-Repo named folder has been created at the selected location. Click on this folder and go inside.
                                            You would see a folder named ".git" there. This is the folder that will contain all your versions, metadata etc information.
                                            This is the staging area/commit area and outside of this ".git" folder is your working directory.
                                        </li>
                                        <li>
                                            Now remember our Zoro project which we created <a href="/create-a-simple-aspnetcore-application">previously</a>? Copy the following from that folder -
                                            <div><img src="~/assets/images/project-02R/04_4.png" style="margin-left:0px;width:360px;border:solid" /></div>
                                            and paste it in Zoro-Repo folder. Afterwards, the folder contents would look like this -
                                            <div><img src="~/assets/images/project-02R/04_5.png" style="margin-left:0px;width:332px;border:solid" /></div>
                                        </li>
                                        <li>
                                            Open GitKraken. You will see that it is showing you how many changes you need to commit to the repository. It
                                            is visible by "WIP" and [n] file changes in working directory on right hand side as shown below in marked areas -
                                            <div><img src="~/assets/images/project-02R/04_6.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                            Isn't it awesome that it is telling you automatically how many changes you have done since the last commit(i.e since you have
                                            last stored your code in the repository). This is an excellent feature which tracks your changes and also displays
                                            them for you. Click on "View Changes" and the right panel would start showing Staging/Commit options. But before
                                            sending your changes to stage area i.e. before staging your changes, we will do one small thing. You can see it is
                                            showing all the files which need to be staged/committed. But there are lot of files which we don't need to
                                            store in the repository for e.g. like files under bin folder. One another feature is that GitKraken allows you to ignore
                                            the files you want. Just right click on the unstaged files and click ignore. Another approach is to use htignore file.
                                            Once you right click on any file and click ignore, it creates a text file in the repository as shown in the below
                                            hightlighted section -
                                            <div><img src="~/assets/images/project-02R/04_7.png" style="margin-left:0px;width:332px;border:solid" /></div>
                                            Open it and paste the following in that file -<br />
                                            <pre style="white-space:pre-wrap">
                                                Zoro/bin/
                                                Zoro/obj/
                                            </pre>
                                            You will see in gitkraken that now it is showing only needed files in unstaged section. Click Staging, and the files
                                            would be moved to Staged Files section. They are ready now to be committed to repository. Put a comment on Commit
                                            Message section & click "Commit changes to [n] files". It will look like below -
                                            <div><img src="~/assets/images/project-02R/04_8.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                            Congratulations! You have committed all of your code in Git local repository! <br />
                                            How did that feel? Yeah yeah I know that feeling. Thrilled & happy at the same time 🙂.
                                        </li>
                                    </ul>
                                </dd>
                                <dd>
                                    Now that we have covered the first approach - Git on Local, let's move on to our next one.
                                </dd>
                            </dl>
                        </p>
                        <p>
                            <dl>
                                <dt>
                                    <strong>
                                        Git on External Server
                                    </strong>
                                </dt>
                                <dd>
                                    Git on local server is a great way of learning for the starters but for practical environments(like in companies), it's
                                    not a realistic approach. The reason being that your code still does not have any backup. Even if you don't work in any
                                    company, still you would require some backup. If your laptop/pc crashes, all the data along with it would also vanish 
                                    in no time. No data, no Git, no versions, nothing, nothing at all! Just you and your eyes staring into the blank! <br />
                                    <i>Ok, that was a bit dramatic </i>😉.
                                </dd>
                                <dd>
                                    So we have still one problem at hand and that is - the backup of the code. <br />
                                    Enter BitBucket!<br />
                                    Bitbucket is the cloud solution of storing your Git repository i.e. once you have stored all your code in your local Git by committing your changes,
                                    there is one more step you need to do. You would need to "push" your committed changes to Bitbucket & viola! Your whole 
                                    Git repository is now on external server, and now you can work without worrying about your disk crashes.
                                </dd>
                                <dd>
                                    Let's see how to do it.
                                </dd>
                                <dd>
                                    <ul>
                                        <li>
                                            Go to <a href="http://www.bibucket.org" target="_blank">Bitbucket</a>
                                        </li>
                                        <li>
                                            Create an account. Don't worry it will be totally free for our purposes. Once account is created and you
                                            are inside bibucket, click on "+" sign on left panel. After clicking it, you will see different options showing up.
                                            Choose Create Repository. You will see the following screen -
                                            <div><img src="~/assets/images/project-02R/04_9.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                        </li>
                                        <li>
                                            Let us name our repository as "Zoro-Repo". Make sure to unmark the "Access Level" checkbox so that it is created
                                            as a public repository. <br />

                                            <small><mark>Public & Private repositories are explained in this chapter in the end.</mark></small><br />

                                            Click Create repository. You will see screen something like below -
                                            <div><img src="~/assets/images/project-02R/04_10.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                        </li>
                                        <li>
                                            Now open "Zoro-Repo" on your local pc on GitKraken. Click on "Remote" on the left hand side. A screen would show
                                            up with some fields. Input "Name" as "Zoro-Repo-Remote". Now go to your Zoro-Repo on bitbucket and copy the
                                            following field value starting from "https://...."
                                            <div><img src="~/assets/images/project-02R/04_11.png" style="margin-left:0px;width:700px;border:solid" /></div>
                                            Paste it in Pull Url & Push Url fields in your opened Gitkraken instance. Click Add Remote.<br />

                                            <small><mark>Don't worry about clone keyword. Cloning is explained at the end of this chapter</mark></small><br />

                                        </li>
                                        <li>
                                            You will see on the left side, under remote section, "Zoro-Repo-Remote" is now visible. This is your
                                            Git repository on Bibucket server.
                                        </li>
                                        <li>
                                            As you are aware that our Zoro project work is on local Git repository
                                            (<i>remember we had committed all our changes to local Git previously</i>?)
                                            as of now, the time has come to move this local Git to external(bitbucket)
                                            server.
                                        </li>
                                        <li>
                                            Click "Push" option on top ribbon in Gitkraken. It is asking for confirmation. Click Submit. It would ask for your login
                                            credentials. Provide it and submit. 
                                        </li>
                                        <li>
                                            Congratulations! You have submitted all your local Git work onto Bitbucket server. You will see on your left
                                            that under both local & remote sections, there is one master branch is now visible.<br />

                                            <small><mark>Some articles are referred for branches understanding at the end of this chapter</mark></small><br />

                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </p>
                        <p>
                            In a nutshell of what we learned in the chapter, the basic flow of a Git is something like below -
                            <div><img src="~/assets/images/project-02R/04_12.png" style="margin-left:0px;width:700px;border:solid" /></div>

                        </p>
                        
                    </div>
                    <div>
                        <p>
                            I hope now you have a basic idea of what is a code repository and how we can use Git for saving our project work.
                        </p>
                    </div>
                    <div>
                        <p>
                            Let us now go through some simple concepts related to Git.
                            <dl>
                                <dt>
                                    Cloning
                                </dt>
                                <dd>
                                    Cloning is a process through which you download all the code from external(here bitbucket) server.
                                </dd>
                                <dd>
                                    Suppose you join a new software company and this is your second day. You are put in a team of 4 people who are
                                    already working on a web project. Now you have to start work on the same web application but you don't yet have any
                                    code. The whole web project code is on bitbucket server but how would you take it onto your system to start the work?
                                    The simple answer to this burning question is <b>Cloning</b>. You will be provided a Url pointing to 
                                    "web project on bitbucket" and you run cloning
                                    to that url which will fetch the whole project on your system.
                                </dd>
                                <dd>
                                    <i>Remember that value - git clone https://....."" while creating the repository on bitbucket</i>? And we copied that
                                    url to put it into Gitkraken for remote configuration set up? Yes. This is the clone Url. You can use this feature
                                    through Gitkraken as well. Go to File > Clone Repo and you will be presented with the next steps for the same.
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    Public and Private Repositories
                                </dt>
                                <dd>
                                    A public repository means that the code is visible to anyone who has the clone url with him. If somebody has the
                                    clone url, he can download the code on his system. But important to thing to remember is that even though he can download,
                                    he can not push any changes to bitbucket server.
                                </dd>
                                <dd>
                                    A private repository is, well private! Even if somebody has clone url, he can not download it. There are various 
                                    access permissions facility in private repository which makes it perfect to be used in companies to secure their code
                                    more effectively. 
                                </dd>
                            </dl>
                        </p>
                    </div>
                    <div>
                        <p>
                            You can refer below excellent Git articles to gain more understanding about it - 
                            <ul>
                                <li>
                                    <a href="https://dev.to/unseenwizzard/learn-git-concepts-not-commands-4gjc" target="_blank">Git Concepts</a>
                                </li>
                                <li>
                                    <a href="https://juristr.com/blog/2013/04/git-explained/" target="_blank">Git Explained</a>
                                </li>
                                <li>
                                    <a href="https://www.sbf5.com/~cduan/technical/git/" target="_blank">Understanding Git Conceptually</a>
                                </li>
                                <li>
                                    <a href="https://www.freecodecamp.org/news/the-essentials-of-git-explained-in-five-minutes-d554019eded9/"
                                       target="_blank">Git Explained in five minutes</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div><!-- end blog-content__main -->
            </div> <!-- end blog-content -->


        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->
    <!-- blog nav
    ================================================== -->
    <div class="blog-single-nav-wrap">
        <div class="row blog-single-nav">
            <div class="col-six blog-single-nav__prev">
                <a href="/how-to-deploy-aspnetcore-application-on-microsoft-azure" rel="prev">
                    <span>Prev</span>
                    How to deploy Aspnet Core application on Microsoft Azure
                </a>
            </div>
            <div class="col-six blog-single-nav__next">
                <a href="#0" rel="next">
                    <span>Next</span>
                    What are Staging and Production Slots on Azure and how to use them?
                </a>
            </div>
        </div>
    </div> <!-- end blog-single-nav-wrap-->
    <!-- footer
    ================================================== -->
    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>